doctype html
html(lang="ko")
    head
        title PugTest
        meta(charset='utf-8')
        script.
            foo = 'hello'
            console.log(foo)

    body
        h1 Pug Test
        ul
            li test 1
            li test 2
            li test 3
