doctype html
html(lang="ko")
	head
		title 로그인
		meta(charset='utf-8')
		script(src='/js/login.js' defer)
	body
		input(type='text' id='uid' placeholder='아이디')
		br
		input(type='password' id='upw' placeholder='비밀번호')
		br
		button 로그인

		a(href="/register") 회원가입...